@media only screen and (min-width: 993px){

  .card-list {
    .card {
      .image-container {
        height: 150px;
      }
    }
  }
}

// Small tablets and large smartphones (landscape view)
$screen-sm-min: 576px;
$screen-sm-max: 767px;

// Small tablets (portrait view)
$screen-md-min: 768px;

// Tablets and small desktops
$screen-lg-min: 992px;

// Large tablets and desktops
$screen-xl-min: 1200px;

// Small devices
@mixin sm {
  @media (min-width: #{$screen-sm-min}) {
    @content;
  }
}
@mixin sm-only {
  @media (max-width: #{$screen-sm-max}) {
    @content;
  }
}

// Medium devices
@mixin md {
  @media (min-width: #{$screen-md-min}) {
    @content;
  }
}

// Large devices
@mixin lg {
  @media (min-width: #{$screen-lg-min}) {
    @content;
  }
}

// Extra large devices
@mixin xl {
  @media (min-width: #{$screen-xl-min}) {
    @content;
  }
}


//Webkit Only Media Query
@mixin webkitOnly{
  @media screen and (-webkit-min-device-pixel-ratio:0) {
    @content;
  }
}

